<h3>Please enter your information below to get started with Liber</h3>
<br>
<form action="/new" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder="Username">
    <br>
    <br>
    <label for="password">Password: </label>
    <input type="text" name="password" placeholder="Password">
    <br>
    <br>
    <label for="name">Name: </label>
    <input type="text" name="name" placeholder="Name">
    <br>
    <br>
    <label for="location">Location: </label>
    <input type="text" name="location" placeholder="Location">
    <br>
    <br>
    <input type="submit" value="Create Account">
</form>