<h1>Welcome to Liber!</h1>
<h3>Where literature lives.</h3>

<p>Liber is an open book exchange for avid readers and literature lovers alike. Have a book you've read countless times? Or perhaps one you've never touched
just collecting dust? Exchange it! Liber lets you find other owners with books you want, who are willing to trade! </p>

<p> <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue. </p>