<h3>Oops! Looks like you left some stuff out!</h3>
<p>Theres some essential info we need in order to make a great Liber experience:<p>
<ul>
    <li>Title</li>
    <br>
    <li>Author</li>
    <br>
    <li>Condition</li>
    <br>
    <li>Type</li>
</ul>
<br>
<p>Please go back to the <a href="/books/new">new book</a> page and try again.</p>