<h3>Oops! Looks like you left some stuff out!</h3>
<p>There's a some essential info we need in order to make a great Liber experience:<p>
<ul>
    <li>Title</li>
    <li>Author</li>
    <li>Condition</li>
    <li>Type</li>
</ul>
<p>Please go back to the <a href="/books/new">new book </a> page and try again.</p>